body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    background-color: rgb(0 104 74);
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}






.nav-btn{

    background-color: rgb(177 255 5);
    border: none;
    border-radius: 50px;
    padding:5px;
    width: 50px;
    font-size: 9px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.child{
    color: white;
}


.link{
    text-decoration: none;
    color: rgb(206, 254, 108);
}

.firstchild{
    display: flex;
    gap: 10px;
    align-items: center;
     margin-left: 35px;
   
}



.secondchild{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
}




.mainnav{


    
    padding: 20px;
    display: flex;
    align-items: center;
    

}


.childnav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.childnav a{ 

text-decoration: none;
color: black;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.childnav img{
    width: 12%;
}





.childnav button{
   
     background-color: rgb(0 237 100);
     width: 140px;
     height: 50px;
     padding: 10px;
     border: black 1px solid;
     font-weight: bold;
     font-size: 14px;
     text-align: center;
     border-radius: 5px;
     font-family:Verdana, Geneva, Tahoma, sans-serif

}



.childnav button:hover{


    border-radius: 25px;
   
 

}