*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 20px;
    height: 500px;
}


.myform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    height: 300px;
    width: 500px;
    gap: 25px;
}


.inside input{

    background-color: black;
   height: 20px;
   padding: 10px;
   color: white;
    
}